<%= div_for comment do %>
	<p> 
		<strong> Posted <%=  time_ago_in_words(comment.created_at) %>  </strong> <br/>
		<%= h(comment.body) %>
		  <%  if user_signed_in? %>
		<% if current_user.email == comment.email %>
		<%= link_to 'Edit Comment' , edit_comment_path(comment) %>
		<% end %>
		<% end %>
	</p>
<% end %>