

<style>
#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
</style>

<div id="form-div"  >
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<H2> Comments </H2>
<div id = "comments"> 
	<% @post.comments.each do |comment| %>
	<%= render :partial => @post.comments.reverse %>
<% end %>
</div>

<% if user_signed_in? %>
<% if current_user.email == @post.email %>
<%= form_for([@post, Comment.new] , remote: true ) do |f| %>
 <p> <%= f.label :body, "New Comment" %> <br/>
 <%= f.text_area :body %>
 </p>
 <p> <%= f.submit "Add Comment" %></p>
 <% end %>  

<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% end %>
<%= link_to 'Back', posts_path %>
</div>