<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="moon" class="moon-orbit">
   <div class="moon" ></div>
</div>


</div>
<style>
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);

html, body {height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
	height:100%; 
	margin: 0; 
	padding: 0;
	font-size: 100%;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	width:100%;
	color:#fff;
	font-family: 'Orbitron', sans-serif;
	background-image:url(http://solarscroller.rhettforbes.com/img/stars.jpg);
	background-repeat: repeat;
	background-color:#000;
	overflow:scroll;
  -webkit-animation: sky 82s linear infinite;
  -moz-animation: sky 82s linear infinite;
	-ms-animation: sky 82s linear infinite;
	-o-animation: sky 82s linear infinite;
	animation: sky 82s linear infinite;}
	

	

@keyframes oz{
	0% {z-index: 12;}
	25% {z-index: 12;}
	50% {z-index: 12;}
	100% {z-index: 5;}
}
@-webkit-keyframes oz{
	0% {z-index: 5;}
	25% {z-index: 26;}
	50% {z-index: 5;}
	100% {z-index: 5;}
}
@keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}
@-moz-keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}
@-webkit-keyframes sky {
 50% {background-position: 600px 0px;}
 100% {background-position: 1200px 0px;}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif; 
	font-weight:700;
	margin:0; 
	padding:0;
	line-height:1.3;}
	h6 { font-weight:400;}

.logo {
	width:100%;
	position:absolute;
  text-align: center;
	top:0;
	padding:1.5rem;}
  .logo h1 {letter-spacing: 0.1em;}

.content { 
  width:100%; 
  max-width:575px; 
  position:absolute; 
  bottom:0;
  text-align:left; 
  padding:1rem; 
  opacity:0.3; 
  transition: opacity 0.5s ease;}
  .content:hover { opacity:1;}

p {
  font-size:14px; 
  line-height:1.5; 
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color:rgba(255,255,255,0.75)}

a  { 
  text-decoration:none; 
  color:#f90;
  transition: color 0.5s ease;}
  a:hover  { color:#fff;}



#email_id {
	color:#f90;
}

</style>





	<div id= "user_nav" align="right" >
	 <% if user_signed_in? %>
		signed in as <h4 id ="email_id"> <%= current_user.email %>. </h4>  Not you ?
	    <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "sign up" , new_user_registration_path  %> or <%= link_to "sign in", new_user_session_path %>
	<% end %>
	</div>
<% flash.each do |name, msg| %>;
  <%= content_tag :div, msg, :id => "flash_#{name}" %>;
<% end %>

<%= yield %>

</body>
</html>
